.new-expense {
  background-color: #393979;

color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
  }
.new-expense:hover {
  box-shadow: #256d8565  3px 3px 5px 5px, #256d8565  3px 3px 5px 5px, #256d8565  3px 3px 5px 5px, #256d8565  3px 3px 5px 5px;

  transition: .5s;

}
.new-expense:not(:hover) {
  transition: .5s;

}
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #a108e7;
    border-color: #a405ee;
   margin-left: .5rem;
    transition: 1s;
    transition-delay: .1s;
  }
  .new-expense button:not(:hover) ,
  .new-expense button:active {
    background-color: #a108e7;
    border-color: #a405ee;
   margin-right: .5rem;
    transition: 1s;
    transition-delay: .1s;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }